{% extends "base.html" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td><a href="{% url 'todo_list:todo_modify' todo.id %}">수정</a></td>
                <td><a href="{% url 'todo_list:todo_delete' todo.id %}">삭제</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}