{% extends "todo_list/todo_base.html" %}

{% block todo %}
    <table>
        <thead>
            <tr>
                <th>우선순위</th>
                <th>제목</th>
                <th>완료</th>
                <th>수정</th>
                <th>삭제</th>
                <th>상승</th>
                <th>하강</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            {% if not todo.is_completed %}
            <tr>
                <th>{{ todo.priority }}</th>
                <td><a href="{% url 'todo_list:todo_detail' todo.id %}">{{ todo.title }}</a></td>
                <td><a href="{% url 'todo_list:todo_complete' todo.id %}">완료</a></td>
                <td><a href="{% url 'todo_list:todo_modify' todo.id %}">수정</a></td>
                <td><a href="{% url 'todo_list:todo_delete' todo.id %}">삭제</a></td>
                <td><a href="{% url 'todo_list:todo_reorder' todo_id=todo.id priority=0 %}">위로</a></td>
                <td><a href="{% url 'todo_list:todo_reorder' todo_id=todo.id priority=1 %}">아래로</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock todo %}