{% extends "todo_list/todo_base.html" %}

{% block navi_list %}
    <a class="nav-link" href="{% url 'todo_list:todo_list' %}">TODO</a>
    <a class="nav-link active" href="{% url 'todo_list:todo_complete_list' %}">Complete</a>
{% endblock navi_list %}

{% block h2 %}<h2>{{ user.username }}의 Completed List</h2>{% endblock h2 %}

{% block todo %}
{% if user.is_authenticated %}
    <p class="lead">
        <a href="{% url 'todo_list:todo_add' %}" class="btn btn-lg btn-secondary">New</a>
    </p>

    <div class="list-group">
        {% for todo in todos %}
            {% if todo.is_completed %}
                <div class="list-group-item flex-column align-items-start list-group-item-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                            <h5 class="mb-1"><a class="nounderline" href="{% url 'todo_list:todo_detail' todo.id %}">{{ todo.title }}</a></h5>
                            </div>
                            <div class="col-6">
                                {{ todo.completed_at }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endif %}
{% endblock todo %}