{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1", shrink-to-fit="no">
        <title>{% block title %}TODO-List{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/timepicki.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        {% block css %}{% endblock css%}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/timepicki.js' %}"></script>
        <script>
        $( function() {
        $( "#id_due_date" ).datepicker({ minDate: 0});
        } );
        </script>
        <script>
                $(document).ready(function(){
                  $("#id_due_time").timepicki();
                })
        </script>
    </head>

    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">
                    {% include 'messages.html' %}

                    <header class="masthead clearfix">
                        <div class="inner">
                            {% block navi %}
                            {% endblock navi %}
                        </div>
                    </header>

                    <main role="main" class="inner cover">
                        <div id="content">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </main>

                </div>

            </div>

        </div>

        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>